<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ela Admin - HTML5 Admin Template</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
<form action="/login" method="post">
    <input type="text" name="username" value="admin" />
    <input type="text" name="password" value="admin"/>
    <input type="submit">
</form>

</body>
</html>
